/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navigation{
  padding: 1px
}

.btn{
  margin: 10px;
}

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
  margin: 0;
  padding: 0;
  color: hsla(0, 0.0%, 13.3%, 1);
  background-color: hsla(0, 0.0%, 100%, 1);
}

h1 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 2em;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 2em;
  margin: 20px 0 0;
  padding: 0;
 /* text-align: center;*/
}

div.row {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

div.button {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
/*  width: 6em*/
}

  .previous {
    text-align: left;
  }

/*#ratelist li {
  display: inline;
  list-style-type: none;
  /*padding-right: 10px;*/
}*/

footer {
  padding:1px
}