/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*.btn{
  margin: 10px;
}*/

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  cursor: default;
  margin: 0;
  padding: 0;
  color: hsla(0, 0.0%, 13.3%, 1);
  background-color: hsla(0, 0.0%, 100%, 1);
}

h1 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 0;
  padding: 10px;
  text-align: center;
}

h2 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 0;
  padding: 10px;
 /* text-align: center;*/
}


#sign-in{
  float: none;
}


div.button {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
/*  width: 6em*/
}

.input-group-addon {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 0;
  border: 0 0 0;
  padding: 10px;
  width: 100px;
  letter-spacing: 20px
}

main {
  min-height: 750px;
}

legend {
  display: block;
  width: 58%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

}

.btn {
  display: inline-block;
  margin: 10px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 22px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, button, select, textarea {
font-family: inherit;
font-size: 20px;
line-height: inherit;
}

// footer
